{% extends "root.html" %}
{% load bootstrap5 %}

{% block content %}
    <form method="post" action="{% url 'create-user' %}">
        {% csrf_token %}
        <div class="form-group">
            <h2>Sign Up</h2>
            {% bootstrap_field form.email show_label=False %}
            {% bootstrap_field form.password1 show_label=False bound_css_class='' %}
            {% bootstrap_field form.password2 show_label=False %}
            <button type="submit" class="btn btn-success" value="create-user">Submit</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <a class="btn btn-danger" href="{% url 'home' %}">Go Back</a>
    </form>
{% endblock %}
