{% extends "root.html" %}
{% load bootstrap5 %}

{% block content %}
    {% if validlink %}
        <h1>Set a new password!</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_field form.new_password1 show_label=False show_help=False bound_css_class='' %}
            <div class="form-text text-muted d-flex justify-content-center text-start fs-5">
                {{ form.new_password1.help_text }}
            </div>
            {% bootstrap_field form.new_password2 show_label=False show_help=False %}
            <div class="form-text text-muted d-flex justify-content-center text-start fs-5 mb-5">
                {{ form.new_password2.help_text }}
            </div>
            <button type="submit" class="btn btn-success" value="Submit">Submit</button>
        </form>
    {% else %}
        <h1>Password Reset Link Invalid</h1>
        <p>This link has possibly already been used.  Please request a new password reset.</p>
        <a class="btn btn-primary" href="{% url 'home' %}">Home</a><br>
        <a class="btn btn-success" href="{% url 'password_reset' %}">Get New Link</a>
    {% endif %}
{% endblock %}