{% load bootstrap5 %}
{% bootstrap_messages %}
<html lang="en-GB" data-bs-theme="dark">
    <head>
        <title>Social Matching</title>
        {% bootstrap_css %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'theme.css' %}">
        <link rel="stylesheet" href="{% static 'root.css' %}">
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="content">{% block content %}{% endblock %}</div>
        <div class="footer">{% block footer %}{% endblock %}</div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
    {% block scripts %}{% endblock %}
</html>
