/* Basic Tags */

body {
    margin: 0;
    background: var(--pink_3);
    background: linear-gradient(135deg, var(--purple_2) -10%, var(--pink_3) 50%, var(--red_1) 110%);
    color: var(--light);
    font-size: var(--text-scaling);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto max-content;
}

h1 {
    font-size: calc(3*var(--text-scaling));
    margin-block: calc(2*var(--page-pad));
}

h2 {
    font-size: calc(2.5*var(--text-scaling));
    margin-block: calc(1.5*var(--page-pad));
}

h3 {
    font-size: calc(2*var(--text-scaling));
    margin-block: var(--page-pad);
}

h4 {
    font-size: calc(1.5*var(--text-scaling));
    margin-block: calc(0.5*var(--page-pad));
}

h5 {
    font-size: calc(1*var(--text-scaling));
    margin-block: calc(0.5*var(--page-pad));
}

hr {
    margin-block: calc(2.5*var(--page-pad));
    width: 50%;
    margin-left: 25%;
}


/* Common Classes */

.content {
    text-align: center;
    margin-inline: calc(2*var(--page-pad));
    max-width: 85rem;
    margin-bottom: calc(2*var(--page-pad));
}

.footer {
    width: 100%;
    max-height: 25rem;
    background: var(--navy_6);
    align-self: end;
}

.buttons {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, var(--purple_2) -10%, var(--pink_3) 50%, var(--red_1) 110%);
    background-size: 0;
    justify-content: center;
    align-items: center;
}


/* Forms */
.form-warning {
    background: var(--red_2);
    padding: calc(2*var(--page-pad));
    margin-block: var(--page-pad);
    border-radius: var(--page-pad);
    color: var(--orange_1);
    box-shadow: inset 2px 2px 8px 0px #fff4;
    filter: drop-shadow(2px 4px 8px #0002);
    height: fit-content;
}

.form-container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    height: 100%;
    align-items: center;
    justify-items: center;
}


/* Landscape */

@media (min-aspect-ratio: 7/10) {
    .footer {
        max-height: 15rem;
    }

    .buttons {
        flex-direction: row;
    }
}
