{% extends "root.html" %}
{% load bootstrap5 %}

{% block content %}
    {% if set_before %}
        <h4 class="form-warning">Submitting this form again will erase your previous response.</h4>
    {% endif %}
    <form method="post" action="{% url 'details' %}">
        {% csrf_token %}
        <div class="form-group">
            <h2>Matching Details</h2>
            <p style="font-weight:300;">
                Here are a number of characteristics that may or may not apply to you.<br>
                For example, do you agree that you are someone who likes to spend time with others?<br>
                Please tick one box per statement to indicate the extent to which you agree or disagree with that statement.
            </p>
            <hr>
            {% for question in form %}
                <div class="scale-container">
                    <legend>{{ question.label }}</legend>
                    <fieldset>                    
                        {% for radio in question %}
                            <div class="form-check form-check-inline">
                                <{{ radio.tag|cut:"<"|cut:">" }} class="form-check-input">
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </fieldset>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success" value="details">Submit</button>
            <hr>
            {% if set_before %}
                <a class="btn btn-danger" href="{% url 'home' %}">Cancel</a>
            {% else %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelConfirmation">Cancel</button>
            {% endif %}
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <div class="modal fade" id="cancelConfirmation" tabindex="-1" aria-labelledby="cancelConfirmationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-1 mt-0" id="cancelConfirmationLabel">Warning</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Cancelling now will erase all account data you have provided.<br>
                    To continue another time, simply leave the website and sign back in again later.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Go Back</button>
                    <a class="btn btn-danger" href="{% url 'delete-user' %}">Delete Account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
