{% extends "root.html" %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed euismod nulla. Vivamus sem turpis, convallis vitae gravida eu, dignissim vel sem. Proin luctus vehicula nibh nec maximus. Phasellus et vulputate augue. Phasellus blandit nunc sed tristique lacinia. Praesent non felis risus. Donec eleifend malesuada rhoncus. Donec viverra tortor a lorem dictum volutpat. Nam ac nisl malesuada, efficitur erat sed, tristique mi. Duis vel tortor mi. Curabitur vitae dui elementum, dignissim ipsum sit amet, molestie justo. Nunc commodo ipsum lectus.</p>
    <hr>
    {% if survey_open %}
        <a class="btn btn-success btn-big" href="#" role="button">Take Survey</a>
        <p>Filling out this anonymised questionnaire is highly appreciated, every response has an impact on the research.</p>
        <hr>
    {% endif %}
    <h3>Matching</h3>
    {% if matches == 0 %}
        <p>Matches have not yet been made, we are waiting on more users. We will notify you via email as soon as your match is made!</p>
        <small>If you do not wish to recieve email notification this may be changed in preferences.</small>
    {% else %}
        <form>
            <a class="btn btn-primary" href="#" role="button" style="--desktop-width: 13rem; background-position-x: 100%">
                View Match{% if matches > 1 %}s{% endif %}
            </a>
            <div class="form-check form-switch d-flex justify-content-center align-items-end my-1">
                <input class="form-check-input" style="width: 3.5rem; scale: 0.8;" type="checkbox" role="switch" id="matchAgainCheck" {% if match_again %}checked{% endif %}>
                <label class="form-check-label" for="matchAgainCheck">Recieve More Matches</label>
            </div>

        </form>
    {% endif %}
    <hr>
    <div class="buttons">
        <a class="btn btn-secondary" href="{% url 'details' %}" role="button" style="--desktop-width: 16rem;">User Details</a>
        <a class="btn btn-secondary" href="#" role="button" style="--desktop-width: 16rem; background-position-x: 100%">Preferences</a>
    </div>
    <a class="btn btn-danger" href="{% url 'logout' %}" role="button">Sign Out</a>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        $('#matchAgainCheck').on('click', function(event) {
            var state = $(this).is(':checked');
            console.log(state);
            $.ajax({
                type: "POST",
                url: "{% url 'toggle-matching' %}",
                data: {
                    switchValue: state,
                    csrfmiddlewaretoken: csrftoken
                }
            });
        });
    </script>
{% endblock %}